body {
  background-color: #012B37;
  font-family: "Inter";
  color:#FFFFFF;
  text-align: center;
}

h1{
  display: flex;
  align-items: left;
  padding-left: 1rem;
  font-size: 2.25rem;
}

.checkBox{
  accent-color: #B54139;
}

.allOrders{
  display: flex;
  justify-content: center;
}

.entireOrder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.orderDetails{
  padding: 10px;
  min-width: 330px;
  min-height: 250px;
}

.upperDetails{
  color: #B54139;
  text-align: left;
}

.lowerDetails{
  text-align: left;
}

.viewDetailsBtn{
  color:#FFFFFF;
  padding: 14px 45px;
  text-decoration: none;
  background-color: #B54139;
  border-radius: 50px;
  white-space: nowrap;
  text-align: center;
}

.numbering{
  font-size: 3rem;
  padding: 0 2rem 0 2rem;
}

/* FORM */

form{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.topInput{
  display: flex;
  justify-content: center;
}

#inputWithImage{
  position: relative;
}

.inputFinder{
  min-width: 600px;
  height:3rem;
  border-radius: 15px;
  text-indent: 0.75rem;
  border: none;
  margin: 5px 0 5px -0.75rem;
  color: #FFFFFF;
  font-size: 1.25rem;
  background-size: 1.5rem;
  background-color: #FFFFFF14;
  font-family: "Inter";
}
.inputFinder::placeholder{
  color: #FFFFFF80;
}

#searchImg{
  position: absolute;
  top: 0.75rem;
  margin-left: -3rem;
  cursor: pointer;
  height: 2rem;
}

@media only screen and (max-width: 1600px){
  .orderDetails{
    min-width: 250px;
    min-height: 200px;
  }
}

@media only screen and (max-width: 1200px){
  .orderDetails{
    min-width: 200px;
    min-height: 200px;
  }

  .viewDetailsBtn{
    padding: 12px 40px;
  }
}

@media only screen and (max-width: 1000px){
  .orderDetails{
    min-width: 140px;
    min-height: 200px;
  }

  .viewDetailsBtn{
    padding: 12px 40px;
  }
}

@media only screen and (max-width: 800px){
  .inputFinder{
    min-width: 500px;
    margin: 5px 0 5px -0.75rem;
  }
  form{
    align-items: center;
  }

  .entireOrder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    padding: 3rem;
    margin: 0.5rem;
  }

  .orderDetails{
    min-width: 200px;
    min-height: 10px;
  }
  .viewDetailsBtn{
    margin: 1rem;
    padding: 15px 45px;
  }

  .upperDetails{
    text-align: center;
  }
  
  .lowerDetails{
    display: flex;
    justify-content: center;
  }

  .numbering{
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
  }
}

@media only screen and (max-width: 600px){
  .inputFinder{
    min-width: 400px;
  }
  #productFilter{
    text-align: center;
  }
}