/* Global Styles */

body {
  background-color: #012B37;
  font-family: "Inter";
  color: #FFFFFF;
  text-align: center;
}

h1 {
  display: flex;
  align-items: left;
  padding-left: 1rem;
  font-size: 2.25rem;
}

.checkBox {
  accent-color: #B54139;
}

/* Orders */

.allOrders {
  display: flex;
  justify-content: center;
}

.entireOrder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.orderDetails {
  padding: 1rem;
  min-width: 20rem;
  min-height: 15rem;
}

.upperDetails {
  color: #B54139;
  text-align: left;
}

.lowerDetails {
  text-align: left;
}

.viewDetailsBtn {
  color: #FFFFFF;
  padding: 1rem 2.5rem;
  text-decoration: none;
  background-color: #B54139;
  border-radius: 3rem;
  white-space: nowrap;
  text-align: center;
}

.numbering {
  font-size: 3rem;
  padding: 0 2rem 0 2rem;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.topInput {
  display: flex;
  justify-content: center;
}

#inputWithImage {
  position: relative;
}

.inputFinder {
  min-width: 37.5rem;
  height: 3rem;
  border-radius: 2.25rem;
  text-indent: 0.75rem;
  border: none;
  margin: 0.3125rem 0 0.3125rem -0.75rem;
  color: #FFFFFF;
  font-size: 1.25rem;
  background-size: 1.5rem;
  background-color: #FFFFFF14;
  font-family: "Inter";
}

.inputFinder::placeholder {
  color: #FFFFFF80;
}

#searchImg {
  position: absolute;
  top: 0.75rem;
  margin-left: -3rem;
  cursor: pointer;
  height: 2rem;
}

@media only screen and (max-width: 1600px) {
  .orderDetails {
    min-width: 15.625em;
    min-height: 12.5em;
  }
}

@media only screen and (max-width: 1200px) {
  .orderDetails {
    min-width: 12.5em;
    min-height: 12.5em;
  }

  .viewDetailsBtn {
    padding: 0.75rem 2.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .orderDetails {
    min-width: 7.8125em;
    min-height: 12.5em;
  }

  .viewDetailsBtn {
    padding: 0.75rem 2.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .inputFinder {
    min-width: 27em;
    margin: 0.3125rem 0 0.3125rem -0.75rem;
  }

  form {
    align-items: center;
  }

  .entireOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.125em solid grey;
    padding: 1.5rem;
    margin: 0.3125rem;
  }

  .orderDetails {
    min-width: 12.5rem;
    min-height: 0.625rem;
  }

  .viewDetailsBtn {
    margin: 0.0625rem;
    padding: 0.9375rem 2.8125rem;
  }

  .upperDetails {
    text-align: center;
  }

  .lowerDetails {
    display: flex;
    justify-content: center;
  }

  .numbering {
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .inputFinder {
    min-width: 17em;
  }

  #productFilter {
    text-align: center;
  }
}