body {
  background-color: #012B37;
  font-family: "Inter";
  color:#FFFFFF;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h1{
  display: flex;
  align-items: left;
  padding-left: 1rem;
  font-size: 2.25rem;
}

.checkBox{
  accent-color: #B54139;
}

.allOrders{
  display: flex;
  justify-content: center;
}

.entireOrder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.orderDetails{
  padding: 10px;
  min-width: 330px;
  min-height: 250px;
}

.upperDetails{
  color: #B54139;
  text-align: left;
}

.lowerDetails{
  text-align: left;
}

.viewDetailsBtn{
  color:#FFFFFF;
  padding: 14px 45px;
  text-decoration: none;
  background-color: #B54139;
  border-radius: 50px;
  white-space: nowrap;
  text-align: center;
}

/* FORM */

form{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 5% 10% 3% 20%;
}

#inputWithImage{
  position: relative;
}

.inputFinder{
  width: 100%;
  height:3rem;
  border-radius: 15px;
  text-indent: 0.75rem;
  border: none;
  margin: 5px 0 5px -0.75rem;
  color: #FFFFFF80;
  font-size: 1.25rem;
  background-size: 1.5rem;
  background-color: #FFFFFF14;
  font-family: "Inter";
}

#searchImg{
  position: absolute;
  top: 0.75rem;
  margin-left: -3rem;
  cursor: pointer;
  height: 2rem;
}